CSDCO/GraphBuilder/secret/*
*.ttl
!spec/*.ttl
*.n3
!spec/*.n3
*.nt
!spec/*.nt
*.nq
!spec/*.nq
store
setenv.sh
.vscode
.gitignore
Oracle/OracleSimpleClient/outputHold/*
bleveIndexer/MongoIndexing/csvw.bleve/*
bleveIndexer/MonogIndexing/csvw.bleve/store
Oracle/OracleSimpleClient/output/*
CSDCODirWalkTests/godirwalk/output/pakcages/**
CSDCODirWalkTests/godirwalk/output/kvdata/**
CSDCODirWalkTests/godirwalk/output/logfile.txt
